header {
    width: 100%;
    min-height: 20%;
    background-color: rgb(238, 229, 215);
}

.h1 {
    width: 40px;
    float: left;
    height: 3%;
    margin-left: 20%;
}

.h1 img {
    height: 40%;
    text-align: center;
    margin-left: 18%;
}

.hh2 {
    width: 60%;
    float: right;
    
    
}

ul {
    margin-top:20px;
}

ul li {
    display: inline;
    margin: 2%;
}

.search {
    float: right;
    margin-top: -5%;
    border-radius: 5px;

}

.menu {
    padding: 1%;
    cursor: pointer;
}

.menu:hover {
    border: 1px solid blue;
    color: blue;
}

/*  Header  */

#section1 {
    clear: both;
    display: block;
    min-height: 20%;
    background-color: gray;
}

.s1 {
    width: 50%;
    float: left;
    margin: auto;
}

.s2 {
    width: 20%;
    float: left;
}

.s1h {
    margin-left: 20%;
    color: whitesmoke;

    padding-top: 8%;
}

.s1p {
    margin-left: 20%;
    color: darkblue;
}

.s1 button {
    margin-left: 20%;
    padding: 1.5%;
    background: blue;
    color: aliceblue;
    border: none;
}

/* section1 */
#section2 {
    clear: both;
    min-height: 50%;
    background-color: rgb(223, 216, 208);
}

.ss2 {
    width: 80%;
    text-align: center;
    margin: auto;
}

.s2d {
    min-height: 40%;
    width: 21%;
    margin: 2%;
    float: left;
    box-shadow: 0px 0px 3px;
    text-align: center;
}

.hed1 {
    background-color: cornflowerblue;
    margin-top: -1%;
    margin-bottom: -1%;
    height: 3%;
    text-align: center;
    padding: 4%;
}

.img {
    height: 20%;
    width: 70%;
    text-align: center;
    padding: 10%;
}

.alpha {
    color: skyblue;
}

/*section2*/
#section3 {
    clear: both;
    display: grid;
    background-color: #34495e;
    min-height: 50%;
}

.s3h {
    font-size: 400;
    padding: 2%;
    color: white;
    text-align: center;
}

/*section3 */
footer {
    clear: both;
    display: grid;
    min-height: 50%;
    background: rgb(59, 54, 54);

}

.ff {
    float: left;
    color: white;
    padding: 3%;
}

.ff2 {
    text-align: center;
    background: rgb(102, 80, 80);
    color: white;
    margin-bottom: 10%;
    padding: 5%;
}

/* Footer Over */
@media screen and (min-width:1px) and (max-width:701px) {
    header {
    width: 100%;
    min-height: 20%;
    position: sticky;
}

    .h1 {
        width: 10% !important;
        float: left !important;
    }
    ul li {
    display:block;
    margin: 2%;
}
}

.alpa{
    color: blue;
}